
slide_width = 640px
slide_height = 480px
slide_background = transparent

slide_transition_length = .6s
slide_transition_easing = ease
slide_transition_rotate_y = 0deg
// Safari bugs out on 3d transform-origins, so we have to fake it
slide_transition_nudge_x = -100px

bullet_transition_length = .3s
bullet_transition_easing = ease
bullet_transition_translate_x = 16px
